// 🦄39 Sass 1: 셋팅.설치

/*
compile하는법

1. node.js-scss설치방식 (node.js-npm install)

2. https://www.sassmeister.com/

3. koala : JS도 사용하는 경우

4. scout : JS 안 쓸때
*/

/* 
⚾node.js-scss설치방식 (node.js-npm install)

1.
$ npm install -g npm@latest
$ npm install -g node-sass

2-1
(sass설치된 폴더 이동)
파일 컴파일
$ node-sass foo.scss > bar.css

2-2
폴더전체 컴파일
$ node-sass src/sass --output dist/css

3.compile 스타일 결정
3-1. expanded
$ node-sass --output-style expanded src/sass --output dist/css

3-2. compact
$ node-sass --output-style compact src/sass --output dist/css

4. watch :  scss 파일을 컴파일하여 css 파일을 자동 업데이트
(sass설치된 폴더의 부모폴더 이동)

4-1
파일 watch
$ node-sass --watch src/sass/foo.scss --output dist/css

4-2 
폴더전체 watch
$ node-sass --watch src/sass --output dist/css
 */

/* Scss */

$main-color: #2a4c6e;
$second-color: #333333;

.text39 {
  color: $main-color;
}

.box39 {
  background: $second-color;
}

/* Sass문법

; { } 삭제함

indent(빈칸) 넣어야함
$메인색상 : #2a4c6e
 */

/* 
.text 
  color: $메인색상
 */

//  🦄40 Sass 2: Nesting. import문법. @mixin. @include

// (1) Nesting
.c40 {
  div {
    background-color: orange;
  }
  h3 {
    background-color: green;
  }
}

// (2) import문법

@import "_reset.scss";

// (3) extend문법
%btn40 {
  padding: 10px;
  font-size: 16px;
  background-color: green;
}

.btn40-red {
  @extend %btn40;
  background: coral;
}

// (3) @mixin (){} / @include()

@mixin Ig($param, $param2) {
  font-size: $param;
  background-color: $param2;
}

h2 {
  @include Ig(1.5rem, red);
}
h3 {
  @include Ig(1rem, blue);
}
h4 {
  @include Ig(0.5rem);
}

// 🦄41 Sass 3편 : sass+bootstrap실습

// 1) nesting
.c41 .test-list {
  li {
    list-style: none;
    padding: 15px;
    border: 1px solid #eee;
  }
  .active {
    background-color: violet;
  }
}

// 2) @extend
.box41 {
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
}
.box41-yellow {
  @extend .box41;
  background-color: yellow;
}
.box41-green {
  @extend .box41;
  background-color: green;
}

// 3)편집전 원본
.c41 .row {
  width: 100%;
  max-width: 900px;
  margin: auto;
  .col-6 {
    float: left;
    width: 50%;
  }
  .col-4 {
    float: left;
    width: 33.33%;
  }
}

// 3)-2 @maxin. @include. parameter
@mixin coolguy($param) {
  float: left;
  width: $param;
}

.c41 .row {
  width: 100%;
  max-width: 900px;
  margin: auto;
  .col-6 {
    @include coolguy(50%);
  }
  .col-4 {
    @include coolguy(33%);
  }
}
