
/* 🦄33  CSS 덮어쓰기 
👻캡쳐 필기정리*/

/* (2) 적용이 안됨 */
.box33{
    background: violet;
}

/* (2) 앞에 selector가 많이 붙으면 specificity점수가 올라감
똑같은 셀렉터 사용해서 만듬 */
.c33 .box33 {
    background : yellow;
  }

/* !important */
.box33 {
    background : lightsalmon !important;
  }
  